@model IEnumerable<EmployeeManagementSystem.Models.EmplyeeInfo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employee Info</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeePhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeEmailID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeDoB)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeePhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeEmailID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeDoB)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmployeeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeID })
        </td>
    </tr>
}

</table>
